@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}


.LAP{
    @include small{

    }
    @include large{
        display: block;
        margin-top: -3%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        width: 80%;
        height: auto;
        padding-bottom: 0%;
        height: 320px;
    }
}

.LAPDETAIL{
    @include small{

    }
    @include large{
        display: block;
        margin-top: -3%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 10px;
        width: 80%;
        height: auto;
        padding-bottom: 0%;
        height: 280px;
    }
}

.L-I-IMG{
    @include small{

    }
    @include large{
        display: block;
        width: 40%;
    }
}

.L-I-IMG-1{
    @include small{

    }
    @include large{
        padding-left: 35%;
    }
}
.L-I-IMG-IN{
    @include small{

    }
    @include large{
        padding-left: 35%;
    }
}
.L-INFO{
    @include small{

    }
    @include large{
        display: flex;
        padding-bottom:0%;
    }
}
.L-I-CONTENT{
    @include small{

    }
    @include large{
        display: block;
        padding-top: 3%;
        padding-left: 3%;
        font-family: "微軟正黑體";
        font-size: large;
        width: 60%;
    }
}
.L-I-DETAIL{
    @include small{

    }
    @include large{
        padding-top: 6%;
        padding-left: 34%;
        font-family: "微軟正黑體";
        font-size: large;
    }
}
.buy{
    @include small{

    }
    @include large{
        display: flex;
        font-family: "微軟正黑體";
        font-size: 25px ;
    }
}
.input{
    @include small{

    }
    @include large{
        width:40px;
        height:50px;
        font-size: 30px;
    }
}
.car{
    @include small{

    }
    @include large{
        font-family: "微軟正黑體";
        font-size: 30px;
        margin-left:4%;
        background-color:#84C1FF;
        border-radius: 10px;
        padding:1%;
        display: flex;
    }
}
.car+{
    @include small{

    }
    @include large{
        padding-top: 2%;
    }
}
.COMMENTLIST{
    @include small{

    }
    @include large{
        display: block; 
    }
}
.COMMENT{
    @include small{

    }
    @include large{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color:white	;
        border-radius: 10px;
        width: 80%;
        height: auto;
        padding:10px 10px 10px 20px;
        font-size: 20px;
        font-family:"微軟正黑體";
        display: flex;
    }
}
.submit{
    @include small{

    }
    @include large{
        text-align: center;
        width: 120px;
        height: 35px;
        cursor: pointer;
        color: #000;
        background-color: #84C1FF;
        border: 1px solid #000;
        margin-left:30%;
        margin-top: 1%;
        font-size: 30px;
        padding-top:0%;
        font-family: "微軟正黑體";
        padding-bottom: 10px;
        border-radius: 10px;
    }
}
.WORD{
    @include small{

    }
    @include large{
        display: block;
        font-family: "微軟正黑體";
        padding-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

textarea{
    @include small{

    }
    @include large{
        resize:none;
        width: 100%;
        height: 100%;
        
    }
}

.star{
    @include small{

    }
    @include large{
        display: flex;
        padding-left: 10%;
        font-size: 35px;
        width: 20%;
    }
}

.COMMENT-WORD{
    @include small{

    }
    @include large{
        display: block;
        padding-left: 0%;
        width: 50%;
    }
}

.starandsubmit{
    @include small{

    }
    @include large{
        display: flex;
    }
}

.givestar{
    @include small{

    }
    @include large{
        display: flex;
        padding-left: 20%;
    }
}

.pullstar{
    @include small{

    }   
    @include large{
       
        padding-left: 10%;
        font-size: 35px;
        width: 20%;
    }
}