@charset "UTF-8";
@media (min-width: 1000px) {
  .LAP {
    display: block;
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding-bottom: 0%;
    height: 320px;
  }
}

@media (min-width: 1000px) {
  .LAPDETAIL {
    display: block;
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding-bottom: 0%;
    height: 280px;
  }
}

@media (min-width: 1000px) {
  .L-I-IMG {
    display: block;
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .L-I-IMG-1 {
    padding-left: 35%;
  }
}

@media (min-width: 1000px) {
  .L-I-IMG-IN {
    padding-left: 35%;
  }
}

@media (min-width: 1000px) {
  .L-INFO {
    display: flex;
    padding-bottom: 0%;
  }
}

@media (min-width: 1000px) {
  .L-I-CONTENT {
    display: block;
    padding-top: 3%;
    padding-left: 3%;
    font-family: "微軟正黑體";
    font-size: large;
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .L-I-DETAIL {
    padding-top: 6%;
    padding-left: 34%;
    font-family: "微軟正黑體";
    font-size: large;
  }
}

@media (min-width: 1000px) {
  .buy {
    display: flex;
    font-family: "微軟正黑體";
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  .input {
    width: 70px;
    height: 50px;
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .car {
    font-family: "微軟正黑體";
    font-size: 30px;
    margin-left: 4%;
    background-color: #84C1FF;
    border-radius: 10px;
    padding: 1%;
    display: flex;
  }
}

@media (min-width: 1000px) {
  .car + {
    padding-top: 2%;
  }
}

@media (min-width: 1000px) {
  .COMMENTLIST {
    display: block;
  }
}

@media (min-width: 1000px) {
  .COMMENT {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-family: "微軟正黑體";
    display: flex;
  }
}

@media (min-width: 1000px) {
  .submit {
    text-align: center;
    width: 120px;
    height: 35px;
    cursor: pointer;
    color: #000;
    background-color: #84C1FF;
    border: 1px solid #000;
    margin-left: 30%;
    margin-top: 1%;
    font-size: 30px;
    padding-top: 0%;
    font-family: "微軟正黑體";
    padding-bottom: 10px;
    border-radius: 10px;
  }
}

@media (min-width: 1000px) {
  .WORD {
    display: block;
    font-family: "微軟正黑體";
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1000px) {
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .star {
    display: flex;
    padding-left: 10%;
    font-size: 35px;
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .COMMENT-WORD {
    display: block;
    padding-left: 0%;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .starandsubmit {
    display: flex;
  }
}

@media (min-width: 1000px) {
  .givestar {
    display: flex;
    padding-left: 20%;
  }
}

@media (min-width: 1000px) {
  .pullstar {
    padding-left: 10%;
    font-size: 35px;
    width: 20%;
  }
}/*# sourceMappingURL=ASUSX515.css.map */