@media (min-width: 0px) {
  .btn-add-pro-container {
    margin: 2% 5% 3% 5%;
    text-align: right;
  }
  .btn-add-pro-container button {
    width: 25%;
    height: 30px;
    font-size: 1em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}

@media (min-width: 1000px) {
  .btn-add-pro-container {
    margin: 2% 5% 3% 5%;
    text-align: right;
  }
  .btn-add-pro-container button {
    width: 10%;
    height: 30px;
    font-size: 1em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}

@media (min-width: 0px) {
  .add-pro-container {
    margin: 5% 5%;
  }
  .add-pro-container .add-pro-table td {
    padding-top: 5%;
  }
  .add-pro-container .add-pro-table button {
    width: 30%;
    height: 30px;
    font-size: 1em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}

@media (min-width: 1000px) {
  .add-pro-container {
    border: 1px solid #000;
    margin: 10% 20% 3% 20%;
    text-align: left;
    padding-left: 20%;
  }
  .add-pro-container .add-pro-table {
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .add-pro-container .add-pro-table th, .add-pro-container .add-pro-table td {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .add-pro-container .add-pro-table button {
    width: 30%;
    height: 30px;
    font-size: 1em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}

.pro-container {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
}

@media (min-width: 1000px) {
  .pro-container {
    margin: 2% 5% 3% 5%;
  }
  .pro-container .pro-table-title {
    width: 100%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0096c7;
    color: #fff;
  }
  .pro-container .pro-table {
    margin-top: 1%;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .pro-container .pro-table th {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .pro-container .pro-table td {
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 0%;
  }
  .pro-container .pro-table button {
    width: 50%;
    background-color: #0096C7;
    color: #fff;
    border: 0px;
  }
}

@media (min-width: 1000px) {
  .trans-data-container {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
  }
  .trans-data-container .trans-filter {
    margin-top: 0.5%;
  }
  .trans-data-container .trans-table-title {
    width: 100%;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #0096c7;
    color: #fff;
  }
  .trans-data-container .trans-table {
    margin-top: 1%;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .trans-data-container .trans-table th, .trans-data-container .trans-table td {
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse;
  }
}
/*# sourceMappingURL=backstage.css.map */