@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}



.car-container{
    @include small{


        .car-title-container{
            display: none;
        }

    }

    @include large{
        // border: 1px solid #ccc;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;

        .car-title-container{
            display: flex;
            font-size: 18px;
            height: 40px;
            padding-top: 1%;
            background-color: #fff;
            color: #aaa;
            margin-bottom: 2%;
            .car-title-checkbox{
                width: 10%;
                padding-left: 3%;
                padding-top: 0.25%;

                input{
                    height: 50%;
                    width: 50%;
                }
            }
            .car-title-item{
                width: 50%;

            }
            .car-title{
                width: 10%;
            }
        }

        .car-item{
            display: flex;
            margin-bottom: 1.5%;
            height: 40px;
            padding-top: 1%;
            background-color: #FFF;

            .car-item-checkbox{
                display: flex;
                width: 61%;

                .item-checkbox{
                    width: 15%;
                    padding-left: 5.25%;

                    input{
                        height: 50%;
                        width: 50%;
                    }
                }

                .item-name{
                    width: 85%;
                    input{
                        font-size:14px;
                        border: 0;
                    }
                }
            }

            .car-item-other{
                width: 39%;
                display: flex;

                .car-item-price{
                    width: 25%;
                    input{
                        border: 0px;
                    }
                }

                .car-item-quan{
                    width: 25%;
                    input{
                        width: 50px;
                        text-align: center;
                        border-color: #eee;
                    }
                }

                .car-item-sum{
                    width: 25%;
                    .item-sum{
                        color: #0096C7;
                        font-weight: bold;
                    }
                }

                .car-item-delete{
                    width: 25%;
                }
            }
        }

        .car-pay{
            background-color: #fff;
            display: flex;
            .total-container{
                width: 80%;
                font-size: 24px;
                text-align: right;
            }
            .car-par-btn{
                text-align: center;
                width: 20%;
                padding-top:0.25%;
                button{
                    border: 0;
                    font-size: 18px;
                    width: 60%;
                    color: #fff;
                    background-color: #0096C7;
                }
            }
            
        }
    }
}
