@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

// header
*{
    margin:0;
    padding: 0;
    font-family:"微軟正黑體";
}

.guide-container{
    width: 100%;
    background-color: #0096C7;
    .nav-header{
        width: 100%;

        @include small{
            display: flex;
            flex-direction: row;
            height: 60px;
            
            .home{
                width: 20%;
                padding-top: 0.5em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bolder;
                    padding-left: 1em;
                }
            }

            .key-word-search{
                padding-top: 1em;
                width: 45%;
                input{
                    width: 70%;
                    height: 30px;
                    // margin: 0.5em;
                    font-size: 16px;
                }
            }

            .link-icon{
                border: 1px solid #ccc;
                width: 35%;
                display: flex;
                flex-direction: row;
                text-align: center;
                img{
                        height: 30px;
                        width:30px;
                    }

                .icon-login{
                    border: 1px solid #ccc;
                    width: 33%;
                    
                }

                .icon-contact{
                    border: 1px solid #ccc;
                    width: 34%;
                }

                .icon-car{
                    border: 1px solid #ccc;
                    width: 33%;
                }

            }
        }

        @include large{
            display: flex;
            flex-direction: row;
            height: 70px;
            
            .home{
                width: 20%;
                padding-top: 1em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bolder;
                    padding-left: 2em;
                }
            }

            .key-word-search{
                padding-top: 1em;
                width: 60%;
                input{
                    width: 90%;
                    height: 30px;
                    // margin: 0.5em;
                    font-size: 18px;
                }
            }

            .link-icon{
                border: 1px solid #ccc;
                width: 20%;
                display: flex;
                flex-direction: row;
                text-align: center;
                img{
                    height: 50px;
                    width:50px;
                }

                .icon-login{
                    flex-direction:column;
                    border: 1px solid #ccc;
                    width: 33%;
                    
                }

                .icon-contact{
                    border: 1px solid #ccc;
                    width: 34%;
                }

                .icon-car{
                    border: 1px solid #ccc;
                    width: 33%;
                }

            }

        }
    }
    
}


// main

html, body{
    height: 100%;
    margin: 0;
    // background-color: #d0e3f4;
    background-color: #eee;
}

.main{
    min-height: 100%;
    @include small{
        padding-bottom: 70px;
    }
    
    @include large{
        padding-bottom: 100px;
    }
}

.content{
    @include small{
        padding-bottom: 70px;
    }

    @include large{
        padding-bottom: 100px;
    }
}

// footer
.footer{
    width: 100%;
    background-color: #0077B6;
    @include small{
        height: 70px;
    }
    
    @include large{
        height: 100px;
    }
}

//常用
.content_format {
    @include small{
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

    @include large{
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
