@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

// header
*{
    margin:0;
    padding: 0;
    font-family:"微軟正黑體";
}

.manage{
    color:#FFF;
    text-decoration:none;
}

.guide-container{
    width: 100%;
    background-color: #0096C7;
    .nav-header{
        width: 100%;

        @include small{
            display: flex;
            flex-direction: row;
            height: 60px;
            
            .home{
                width: 20%;
                padding-top: 1em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bolder;
                    padding-left: 1%;
                }
            }

            .key-word-search{
                padding-top: 1em;
                width: 50%;
                input{
                    width: 80%;
                    height: 30px;
                    // margin: 0.5em;
                    font-size: 16px;
                }
            }

            .link-icon{
                // border: 1px solid #ccc;
                width: 30%;
                display: flex;
                flex-direction: row;
                text-align: center;
                
                img{
                        height: 30px;
                        width:30px;
                    }

                .icon-login{
                    padding-top: 10%;
                    width: 33%;
                    
                }

                .icon-contact{
                    padding-top: 10%;
                    width: 34%;
                }

                .icon-car{
                    padding-top: 10%;
                    width: 33%;
                }

            }
        }

        @include large{
            display: flex;
            flex-direction: row;
            height: 70px;
            
            .home{
                width: 20%;
                padding-top: 1em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bolder;
                    padding-left: 2em;
                }
            }

            .key-word-search{
                padding-top: 1em;
                width: 65%;
                input{
                    width: 90%;
                    height: 30px;
                    // margin: 0.5em;
                    font-size: 18px;
                }
            }

            .link-icon{
                width: 15%;
                display: flex;
                flex-direction: row;
                text-align: center;
                img{
                    height: 50px;
                    width:50px;
                }

                .icon-login{
                    padding-top: 3%;
                    flex-direction:column;
                    width: 33%;
                    
                }

                .icon-contact{
                    padding-top: 3%;
                    width: 34%;
                }

                .icon-car{
                    padding-top: 3%;
                    width: 33%;
                }

            }

        }
    }
    
}


// backstage header
.backstage-guide-container{
    width: 100%;
    background-color: #0096C7;
    .backstage-nav-header{
        width: 100%;

        @include small{
            display: flex;
            flex-direction: row;
            height: 60px;
            
            .backstage-home{
                width: 82%;
                padding-top: 0.5em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bolder;
                    padding-left: 1%;
                }
            }

            .link-icon{
                width: 18%;
                display: flex;
                flex-direction: row;
                text-align: center;
                
                img{
                        height: 28px;
                        width: 28px;
                    }

                .icon-backstage{
                    padding-top: 10%;
                    width: 33%;
                    
                }

                .icon-homepage{
                    padding-top: 10%;
                    width: 34%;
                }

                .icon-logout{
                    padding-top: 10%;
                    width: 33%;
                }

            }
        }

        @include large{
            display: flex;
            flex-direction: row;
            height: 70px;
            
            .backstage-home{
                width: 85%;
                padding-top: 1em;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 24px;
                    font-weight: bolder;
                    padding-left: 2em;
                }
            }

            .link-icon{
                width: 15%;
                display: flex;
                flex-direction: row;
                text-align: center;
                img{
                    height: 46px;
                    width: 46px;
                }

                .icon-backstage{
                    padding-top: 3%;
                    flex-direction:column;
                    width: 33%;
                    
                }

                .icon-homepage{
                    padding-top: 3%;
                    width: 34%;
                }

                .icon-logout{
                    padding-top: 3%;
                    width: 33%;
                }

            }

        }
    }
}




// main

html, body{
    height: 100%;
    margin: 0;
    // background-color: #d0e3f4;
    background-color: #eee;
}

.main{
    min-height: 100%;
    @include small{
        padding-bottom: 70px;
    }
    
    @include large{
        padding-bottom: 50px;
    }
}

.content{
    @include small{
        padding-bottom: 70px;
    }

    @include large{
        padding-bottom: 100px;
    }
}

// footer
.footer{
    width: 100%;
    background-color: #0077B6;
    @include small{
        height: 40px;
        text-align: center;
        padding-top: 20px;
        font-size: 0.95em;

        .copyright{
            color: #fff;
        }
    }
    
    @include large{
        height: 50px;
        text-align: center;
        padding-top: 25px;
        font-size: 1em;

        .copyright{
            color: #fff;
            
        }
    }
}

//常用
.content_format {
    @include small{
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

    @include large{
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
