@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
}

.manage {
  color: #FFF;
  text-decoration: none;
}

.guide-container {
  width: 100%;
  background-color: #0096C7;
}
.guide-container .nav-header {
  width: 100%;
}
@media (min-width: 0px) {
  .guide-container .nav-header {
    display: flex;
    flex-direction: row;
    height: 60px;
  }
  .guide-container .nav-header .home {
    width: 20%;
    padding-top: 0.5em;
  }
  .guide-container .nav-header .home a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 1%;
  }
  .guide-container .nav-header .key-word-search {
    padding-top: 1em;
    width: 50%;
  }
  .guide-container .nav-header .key-word-search input {
    width: 80%;
    height: 30px;
    font-size: 16px;
  }
  .guide-container .nav-header .link-icon {
    width: 30%;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .guide-container .nav-header .link-icon img {
    height: 30px;
    width: 30px;
  }
  .guide-container .nav-header .link-icon .icon-login {
    padding-top: 10%;
    width: 33%;
  }
  .guide-container .nav-header .link-icon .icon-contact {
    padding-top: 10%;
    width: 34%;
  }
  .guide-container .nav-header .link-icon .icon-car {
    padding-top: 10%;
    width: 33%;
  }
}
@media (min-width: 1000px) {
  .guide-container .nav-header {
    display: flex;
    flex-direction: row;
    height: 70px;
  }
  .guide-container .nav-header .home {
    width: 20%;
    padding-top: 1em;
  }
  .guide-container .nav-header .home a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 2em;
  }
  .guide-container .nav-header .key-word-search {
    padding-top: 1em;
    width: 65%;
  }
  .guide-container .nav-header .key-word-search input {
    width: 90%;
    height: 30px;
    font-size: 18px;
  }
  .guide-container .nav-header .link-icon {
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .guide-container .nav-header .link-icon img {
    height: 50px;
    width: 50px;
  }
  .guide-container .nav-header .link-icon .icon-login {
    padding-top: 3%;
    flex-direction: column;
    width: 33%;
  }
  .guide-container .nav-header .link-icon .icon-contact {
    padding-top: 3%;
    width: 34%;
  }
  .guide-container .nav-header .link-icon .icon-car {
    padding-top: 3%;
    width: 33%;
  }
}

.backstage-guide-container {
  width: 100%;
  background-color: #0096C7;
}
.backstage-guide-container .backstage-nav-header {
  width: 100%;
}
@media (min-width: 0px) {
  .backstage-guide-container .backstage-nav-header {
    display: flex;
    flex-direction: row;
    height: 60px;
  }
  .backstage-guide-container .backstage-nav-header .backstage-home {
    width: 82%;
    padding-top: 0.5em;
  }
  .backstage-guide-container .backstage-nav-header .backstage-home a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 1%;
  }
  .backstage-guide-container .backstage-nav-header .link-icon {
    width: 18%;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .backstage-guide-container .backstage-nav-header .link-icon img {
    height: 28px;
    width: 28px;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-backstage {
    padding-top: 10%;
    width: 33%;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-homepage {
    padding-top: 10%;
    width: 34%;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-logout {
    padding-top: 10%;
    width: 33%;
  }
}
@media (min-width: 1000px) {
  .backstage-guide-container .backstage-nav-header {
    display: flex;
    flex-direction: row;
    height: 70px;
  }
  .backstage-guide-container .backstage-nav-header .backstage-home {
    width: 85%;
    padding-top: 1em;
  }
  .backstage-guide-container .backstage-nav-header .backstage-home a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding-left: 2em;
  }
  .backstage-guide-container .backstage-nav-header .link-icon {
    width: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .backstage-guide-container .backstage-nav-header .link-icon img {
    height: 46px;
    width: 46px;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-backstage {
    padding-top: 3%;
    flex-direction: column;
    width: 33%;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-homepage {
    padding-top: 3%;
    width: 34%;
  }
  .backstage-guide-container .backstage-nav-header .link-icon .icon-logout {
    padding-top: 3%;
    width: 33%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #eee;
}

.main {
  min-height: 100%;
}
@media (min-width: 0px) {
  .main {
    padding-bottom: 70px;
  }
}
@media (min-width: 1000px) {
  .main {
    padding-bottom: 100px;
  }
}

@media (min-width: 0px) {
  .content {
    padding-bottom: 70px;
  }
}
@media (min-width: 1000px) {
  .content {
    padding-bottom: 100px;
  }
}

.footer {
  width: 100%;
  background-color: #0077B6;
}
@media (min-width: 0px) {
  .footer {
    height: 70px;
  }
}
@media (min-width: 1000px) {
  .footer {
    height: 100px;
  }
}

@media (min-width: 0px) {
  .content_format {
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 1000px) {
  .content_format {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }
}/*# sourceMappingURL=common.css.map */