@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.finish{
    @include small{

    }
    @include large{
        display: block;
        margin-top: 0%;
       
        
        
    }
}

.f-pic{
    @include small{
        margin-top: -35%;  
        margin-left: -1%; 
       
    }
    @include large{
        padding-left: 35%;  
        margin-top: -10%;   
    }
}

.f-word{
    @include small{
        margin-top: -40%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 0.55em;
    }
    @include large{
        padding-top: -20%;
        margin-top: -10%;
        text-align: center;
        padding-bottom: 5%;
        margin-left: -10%;
        width: 100%;
        font-size: 1.5em;
        
    }
}

.f-back{
    @include small{
        font-size: 30px;
        text-align: center;
        padding-top: 5%;
        margin-left: 0%;

    }
    @include large{
        font-size: 30px;
        margin-left:40%;
        background-color:#84C1FF;
        border-radius: 10px;
        padding:1%;
        margin-right: 45%;
        text-align: center;
        margin-top: -3%;
        

    }
}

