@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.finish{
    @include small{

    }
    @include large{
        border: 1px solid #495;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.finish-img{
    @include small{
        
    }
    @include large{
        border: 1px solid #495;
        
    }
}

.pic{
    @include small{

    }
    @include large{
        border: 1px solid #795;
    }
}

.finish-word{
    @include small{

    }
    @include large{
        text-align: center;      

    }
}

.finish-back{
    @include small{
        text-align: center;
        background-color: #0096C7;  
    }
    @include large{
        text-align: center;
        background-color: #0096C7;
        
        a{
            color: #fff;
            text-decoration: none;
        }
    }
}

