@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.finish{
    @include small{
        display: block;
    }
    @include large{
        display: block;
        margin-top: 0%;
        padding-top: 5%;
       
        
        
    }
}

.f-pic{
    @include small{
        margin-top: -35%;  
        margin-left: -1%; 
       
    }
    @include large{
        padding-left: 35%;  
        margin-top: -10%;   
    }
}

.f-word{
    @include small{
        margin-top: -40%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 0.75em;
    }
    @include large{
        padding-top: -20%;
        margin-top:-9%;
        text-align: center;
        padding-bottom: 5%;
        margin-left: -13%;
        width: 100%;
        font-size: 1.5em;
        
    }
}

.f-back{
    @include small{
        text-align: center;
        padding: 2%;
        background-color:#84C1FF;
        margin-left: 35%;
        margin-right: 35%;
       
        margin-top: 5%;
        
       
       
    }
    @include large{
        font-size: 1.5em;
        text-align: center;
        background-color:#84C1FF;
        border-radius: 10px;
        padding:1%;
        margin-left: 43%;
        margin-right: 50%;
        margin-top: -3%;
        

    }
}

