@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.product-group{
    @include small{

    }

    @include large{
        display:flex;
        margin: 5% 2.5% 5% 2.5%;
        border: 1px solid #ccc;
    }
}




// 篩絢
.product-filter{
    @include small{
        .filter{
            .filter-container{

            }
            
        }
    }

    @include large{
        width: 15%;
        .filter{
            .filter-container{
                margin-top: 2%;
                margin-bottom: 10%;
            }
        }
    }
}


// 產品列表
.product-list{
    @include small{
        display: block;
    }

    @include large{
        display: flex;
        width: 85%;
        border: 1px solid #ccc;
    }
}

.product{
    @include small{
        // margin: 2% 5% 2% 5%;
        display: block;
        border: 1px solid #ccc;
        margin-bottom: 2%;
    }

    @include large{
        display: flex;
        // margin: 2% 5% 2% 5%;
        margin:2% 5% 2% 5%;
    
    }
    
}





.listimg{

    @include small{
        max-height: 150px;
        width: 100%;
        // padding-top: 10px ;
    }

    @include large{
        max-height: 200px;
        width: 100%;
        padding-top: 10px ;
    }
  
}

.protext{
    @include small{
        font-family: "微軟正黑體";
    }

    @include large{
        font-family: "微軟正黑體";
        padding: 0px 20px 10px 30px;
        
    }
}


