@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}

.product-group{
    @include small{

    }

    @include large{
        display:flex;
        margin: 5% 2.5% 5% 2.5%;
        border: 1px solid #ccc;
    }
}

.filter{
    @include small{

    }

    @include large{
        width: 20%;
    }
}

.product-list{
    @include small{

    }

    @include large{
        width: 80%;
        border: 1px solid #ccc;
    }
}

.product{
    @include small{
        // margin: 2% 5% 2% 5%;
        border: 1px solid #ccc;
        margin-bottom: 2%;
    }

    @include large{
        display: flex;
        // margin: 2% 5% 2% 5%;
    }
    
}

.list{

    @include small{
        display: flex;
        background-color:white;
        border-radius: 10px;
        height: 150px;
        margin-bottom: 2%;
    }

    @include large{
        display:block;
        background-color:white;
        border-radius: 10px;
        width: 25%;
        margin-left: 1%;
        margin-right: 1%;
        height: 300px;
        margin-bottom: 0%;
    }
    
}

.listimg{

    @include small{
        max-height: 150px;
        width: 100%;
        // padding-top: 10px ;
    }

    @include large{
        max-height: 200px;
        width: 100%;
        padding-top: 10px ;
    }
  
}

.protext{
    // font-family:"微軟正黑體";
}