@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}


.info{
    margin-left: 5%;
    margin-right: 5%;

    .info-title{
        width: 100%;
        font-size: 24px;
        border-radius: 10px;
        background-color: #0096c7;
        color: #fff;
    }

    .info-container{
        display: flex;
        background-color: #fff;

        .info-img-container{
            width: 30%;
            border-right: 1px solid #ddd;
            text-align: center;
            padding-top: 5%;
        }

        .info-content-container{
            padding-left: 1%;
            width: 70%;
            div{
                margin-bottom: 1%;
            }
        }
    }
}


.trans-data-container{
    @include small{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2.5%;
        .trans-table-title{
            width: 100%;
            font-size: 24px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #0096c7;
            color: #fff;
        }
        .trans-table{
            width: 100%;
            background-color: #fff;
            border: 1px solid black; 
            border-collapse: collapse;

            th,td{
                text-align: center;
                font-size: 16px;
                border: 1px solid black; 
                border-collapse: collapse;
            }
        }       
    }

    @include large{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        .trans-table-title{
            width: 100%;
            font-size: 24px;
            border-radius: 10px;
            background-color: #0096c7;
            color: #fff;
        }

        .trans-table{
            width: 100%;
            background-color: #fff;
            border-collapse: collapse;

            th,td{
                text-align: center;
                font-size: 16px;
                border: 1px solid black; 
                border-collapse: collapse;
            }
        }
    }
}


.change-pwd{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    .change-pwd-title{
        width: 100%;
        font-size: 24px;
        border-radius: 10px;
        background-color: #0096c7;
        color: #fff;
    }

    .change-pwd-container{
        padding-left: 1%;
        background-color: #fff;
        div{
            margin-bottom: 1%;
        }
    }
}


.btn-change{
    background-color: #0096c7;
    color: #fff;
    border: 0;
    width: 10%;
    font-size: 1em;
}
