@mixin small {
    @media (min-width: 0px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1000px){
        @content;
    }
}


.pay-container{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    @include small{
        .pay-title-container{
            display: flex;
            font-size: 1em;
            height: 1.25em;
            background-color: #fff;
            color: #aaa;

            .pay-title-order{
                width: 58%;
                padding-left: 5%;
            }

            .pay-title{
                width: 20%;
                text-align: left;
            }
        }

        .pay-item{
            display: flex;
            margin-bottom: 1%;
            height: 40px;
            padding-top: 1%;
            background-color: #FFF;
            font-size: 0.9em;

            .item-info-name{
                width: 58%;
                padding-left: 5%;
            }

            .item-info{
                width: 20%;
                text-align: center;
            }

            input{
                font-size:1em;
                border: 0;
                width: 100%;
            }
        }

        .pay-checkout{
            display: flex;
            background-color: #FFF;
            font-size: 0.9em;
            height: 1.25em;
            
            .send-addr{
                width:50%;
                padding-left: 5%;
                input{
                    font-size:0.9em;
                    width: 70%;
                    border: 0;
                    border-bottom: 1px solid #ccc;
                }
            }

            .pay-revenue{
                width: 35%;
            }

            .pay-btn-container{
                width:15%;
                button{
                    border: 0;
                    font-size: 1em;
                    width: 90%;
                    color: #fff;
                    background-color: #0096C7;
                }
            }
        }
    }

    @include large{
        .pay-title-container{
            display: flex;
            font-size: 18px;
            height: 40px;
            padding-top: 1%;
            background-color: #fff;
            color: #aaa;

            .pay-title-order{
                width: 67%;
                padding-left: 5%;
            }

            .pay-title{
                width: 11%;
                text-align: left;
            }
        }

        .pay-item{
            display: flex;
            margin-bottom: 1.5%;
            height: 40px;
            padding-top: 1%;
            background-color: #FFF;

            .item-info-name{
                width: 67%;
                padding-left: 5%;
            }

            .item-info{
                width: 11%;
                text-align: center;
            }

            input{
                font-size:16px;
                border: 0;
                width: 100%;
            }
        }

        .pay-checkout{
            display: flex;
            background-color: #FFF;
            font-size: 18px;
            height: 30px;
            
            .send-addr{
                width:75%;
                padding-left: 5%;
                input{
                    font-size:16px;
                    width: 30%;
                }
            }

            .pay-revenue{
                width:15%;
            }

            .pay-btn-container{
                width:10%;
                button{
                    border: 0;
                    font-size: 18px;
                    width: 60%;
                    color: #fff;
                    background-color: #0096C7;
                }
            }
        }
    }
}