@media (min-width: 0px) {
  .pro-container {
    margin: 0% 5% 3% 5%;
    display: block;
    background-color: #fff;
  }
  .pro-container .pro-img-container {
    width: 100%;
  }
  .pro-container .pro-img-container .img-up {
    height: 200px;
  }
  .pro-container .pro-img-container .img-up .img {
    width: 100%;
    text-align: center;
  }
  .pro-container .pro-img-container .img-up .img img {
    width: 200px;
    height: 200px;
  }
  .pro-container .pro-img-container .img-down {
    height: 120px;
  }
  .pro-container .pro-img-container .img-down .img-down-container {
    height: 100%;
    margin-top: 0;
    display: flex;
  }
  .pro-container .pro-img-container .img-down .img-down-container div {
    height: 100%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .pro-container .pro-img-container .img-down .img-down-container div img {
    width: 100%;
    height: 100%;
  }
  .pro-container .pro-info-container {
    margin-top: 1%;
    border-top: 1px solid #ccc;
    width: 100%;
  }
  .pro-container .pro-info-container .pro-name {
    font-size: 1.5em;
  }
  .pro-container .pro-info-container .pro-sold-quan {
    margin-top: 1%;
    font-size: 1em;
  }
  .pro-container .pro-info-container .pro-price {
    margin-top: 1.5%;
    font-size: 1.5em;
    color: #0096C7;
  }
  .pro-container .pro-info-container .pro-inventory {
    margin-top: 1.35%;
    font-size: 1em;
  }
  .pro-container .pro-info-container .pro-quan {
    margin-top: 1%;
    font-size: 1em;
  }
  .pro-container .pro-info-container .pro-quan input {
    width: 5%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    height: 1.25em;
  }
  .pro-container .pro-info-container .pro-quan button {
    text-align: center;
    width: 5%;
    height: 1.5em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
  .pro-container .pro-info-container .pro-btn-container {
    height: 50px;
    margin-top: 3%;
  }
  .pro-container .pro-info-container .pro-btn-container button {
    height: 40px;
    font-size: 1em;
    width: 35%;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}
@media (min-width: 1000px) {
  .pro-container {
    margin: 0% 10% 3% 10%;
    display: flex;
    background-color: #fff;
  }
  .pro-container .pro-img-container {
    width: 35%;
  }
  .pro-container .pro-img-container .img-up {
    height: 220px;
  }
  .pro-container .pro-img-container .img-up .img {
    width: 100%;
    text-align: center;
  }
  .pro-container .pro-img-container .img-up .img img {
    width: 200px;
    height: 200px;
  }
  .pro-container .pro-img-container .img-down {
    height: 150px;
  }
  .pro-container .pro-img-container .img-down .img-down-container {
    height: 100%;
    margin-top: 0;
    display: flex;
  }
  .pro-container .pro-img-container .img-down .img-down-container div {
    height: 100%;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .pro-container .pro-img-container .img-down .img-down-container div img {
    width: 100%;
    height: 100%;
  }
  .pro-container .pro-info-container {
    width: 65%;
    border-top: 0;
  }
  .pro-container .pro-info-container .pro-name {
    font-size: 2.25em;
  }
  .pro-container .pro-info-container .pro-sold-quan {
    margin-top: 1%;
    font-size: 1.25em;
  }
  .pro-container .pro-info-container .pro-price {
    margin-top: 1.5%;
    font-size: 1.75em;
    color: #0096C7;
  }
  .pro-container .pro-info-container .pro-inventory {
    margin-top: 1.5%;
    font-size: 1.25em;
  }
  .pro-container .pro-info-container .pro-quan {
    margin-top: 2%;
    font-size: 1.25em;
  }
  .pro-container .pro-info-container .pro-quan input {
    width: 5%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    height: 1.5em;
  }
  .pro-container .pro-info-container .pro-quan button {
    text-align: center;
    width: 3%;
    height: 2em;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
  .pro-container .pro-info-container .pro-btn-container {
    height: 50px;
    margin-top: 3%;
  }
  .pro-container .pro-info-container .pro-btn-container button {
    height: 40px;
    font-size: 1em;
    width: 20%;
    background-color: #0096C7;
    color: #fff;
    border: 0;
  }
}

@media (min-width: 0px) {
  .pro-intro-container {
    margin: 3% 5% 3% 5%;
    background-color: #fff;
  }
  .pro-intro-container .pro-intro-content {
    margin-top: 1.5%;
    font-size: 1em;
    padding-left: 2%;
  }
  .pro-intro-container .pro-intro-content span {
    line-height: 2em;
  }
}
@media (min-width: 1000px) {
  .pro-intro-container {
    margin: 3% 10% 3% 10%;
    background-color: #fff;
  }
  .pro-intro-container .pro-intro-content {
    margin-top: 1.5%;
    font-size: 1em;
    padding-left: 2%;
  }
  .pro-intro-container .pro-intro-content span {
    line-height: 2em;
  }
}

@media (min-width: 0px) {
  .pro-eval-container {
    margin: 3% 5% 3% 5%;
    background-color: #fff;
  }
  .pro-eval-container .pro-eval {
    border-bottom: 1px solid #ccc;
  }
  .pro-eval-container .pro-eval .eval-user {
    margin-top: 1.5%;
    padding-left: 2%;
    font-size: 0.5em;
  }
  .pro-eval-container .pro-eval .eval-info {
    margin-top: 0.5%;
    padding-left: 2%;
    font-size: 0.5em;
  }
  .pro-eval-container .pro-eval .eval-content {
    margin-top: 1.5%;
    padding-left: 2%;
    font-size: 0.8em;
  }
}
@media (min-width: 1000px) {
  .pro-eval-container {
    margin: 3% 10% 3% 10%;
    background-color: #fff;
  }
  .pro-eval-container .pro-eval {
    border-bottom: 1px solid #ccc;
  }
  .pro-eval-container .pro-eval .eval-user {
    margin-top: 1.5%;
    padding-left: 2%;
    font-size: 0.8em;
  }
  .pro-eval-container .pro-eval .eval-info {
    margin-top: 0.5%;
    padding-left: 2%;
    font-size: 0.8em;
  }
  .pro-eval-container .pro-eval .eval-content {
    margin-top: 1.5%;
    padding-left: 2%;
    font-size: 1em;
  }
}

.eval-star {
  color: #0096C7;
}

@media (min-width: 0px) {
  .pro-intro-title {
    font-size: 1em;
    padding-left: 2%;
  }
}
@media (min-width: 1000px) {
  .pro-intro-title {
    font-size: 1.5em;
    padding-left: 2%;
  }
}

@media (min-width: 0px) {
  .new-eval-container {
    margin: 3% 5% 3% 5%;
    background-color: #fff;
  }
}
@media (min-width: 1000px) {
  .new-eval-container {
    margin: 1.5% 30% 3% 30%;
    background-color: #fff;
  }
  .new-eval-container .new-eval-star {
    text-align: center;
    font-size: 1.5em;
  }
  .new-eval-container .new-eval-star input {
    font-size: 1.5em;
    border: 1px solid #ccc;
    width: 30%;
    margin-left: 5%;
  }
  .new-eval-container .new-eval-content textarea {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    height: 100px;
    resize: none;
  }
  .new-eval-container .btn-container {
    text-align: center;
  }
  .new-eval-container .btn-container input {
    width: 20%;
    background-color: #0096C7;
    color: #fff;
    font-size: 1em;
    border: 0;
  }
}/*# sourceMappingURL=proIntro.css.map */