<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>後台管理</title>
        <!-- 引入jQuery -->
        <script src="../assets/js/lib/jquery/jquery.min.js"></script>
        <!-- 引入Echarts -->
        <script src="../assets/js/lib/echarts/echarts.min.js"></script>
        <!-- 引入jQuery-Confirm -->
        <script src="../assets/js/lib/jquery-confirm/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="../assets/js/lib/jquery-confirm/jquery-confirm.min.css" />
        <!-- 引入blockUI -->
        <script src="../assets/js/lib/blockUI/jquery.blockUI.js"></script>
        <!-- 引入login -->
        <script src="../assets/js/login.js"></script>
        <!-- 引入css -->
        <link rel="stylesheet" href="../assets/sass/common.css" />
        <link rel="stylesheet" href="../assets/sass/backstage.css" />
        <!-- 引入自寫js -->
        <script src="../assets/js/loading.js"></script>
        <script src="../assets/js/backstage.js"></script>
    </head>
<body>
    <header>
        <div class="backstage-guide-container">
            <nav class="backstage-nav-header">
                <div class="backstage-home">
                    <a href="backstage.html">後台管理</a>
                </div>
                <div class="link-icon">
                    <div class="icon-backstage">
                        <a  href="backstage.html"><img src="../assets/img/google-icon/ic_home_white_36dp.png"></a>
                    </div>
                    <div class="icon-homepage">
                        <a  href="index.html" target="_blank"><img src="../assets/img/google-icon/ic_flip_to_front_white_36dp.png"></a>
                    </div>
                    <div class="icon-logout">
                        <a  href=""><img src="../assets/img/google-icon/ic_exit_to_app_white_36dp.png"></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <div id="loading" style="display: none;">
                <img src="../assets/img/loading.gif">
            </div>

            <div class="add-pro-container">
                <table class="add-pro-table">
                    <tr>
                        <td>
                            產品名稱：
                        </td>
                        <td>
                            <input type="text" id="add-pro-name" placeholder="請輸入產品名稱" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            品牌：
                        </td>
                        <td>
                            <input type="text" id="add-pro-brand" placeholder="請輸入品牌" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            型號：
                        </td>
                        <td>
                            <input type="text" id="add-pro-model" placeholder="請輸入型號" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            螢幕尺寸：
                        </td>
                        <td>
                            <input type="text" id="add-pro-size" placeholder="請輸入螢幕尺寸"  oninput = "value=value.replace(/[^\d\.]/g,'')"  />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            有無觸控功能：
                        </td>
                        <td>
                            <input type="radio" name="add-pro-touch" value="1" />
                            <label>有</label>
                            <input type="radio" name="add-pro-touch" value="0" checked/>
                            <label>無</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            選擇產品類型：
                        </td>
                        <td>
                            <select id="add-pro-type">
                                <option value="商務">商務</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            庫存數量：
                        </td>
                        <td>
                            <input type="text" id="add-pro-inventory" placeholder="請輸入存貨數量"  oninput = "value=value.replace(/[^\d\.]/g,'')"  />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            單價：
                        </td>
                        <td>
                            <input type="text" id="add-pro-price" placeholder="請輸入產品單價"  oninput = "value=value.replace(/[^\d\.]/g,'')"  />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button id="add-pro">新增產品</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </main>
    <footer class="footer">
        <span class="copyright">&copy;</span>

    </footer>
</body>
</html>