<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>購物車</title>
        <!-- 引入jQuery -->
        <script src="../assets/js/lib/jquery/jquery.min.js"></script>
        <!-- 引入Echarts -->
        <script src="../assets/js/lib/echarts/echarts.min.js"></script>
        <!-- 引入jQuery-Confirm -->
        <script src="../assets/js/lib/jquery-confirm/jquery-confirm.min.js"></script>
        <link rel="stylesheet" href="../assets/js/lib/jquery-confirm/jquery-confirm.min.css" />
        <!-- 引入blockUI -->
        <script src="../assets/js/lib/blockUI/jquery.blockUI.js"></script>
        <!-- 引入login -->
        <script src="../assets/js/login.js"></script>
        <!-- 引入css -->
        <link rel="stylesheet" href="../assets/sass/common.css" />
        <link rel="stylesheet" href="../assets/sass/car.css" />
        <!-- 引入自寫js -->
        <script src="../assets/js/loading.js"></script>
        <script src="../assets/js/car.js"></script>
    </head>
<body>
    <header>
        <div style="text-align:right;background-color: #0096C7;">
            <!-- 判斷是否登入，有登入「登出」要顯示，否則顯示網站管理 -->
            <a href="" class="manage">登出</a>
            <a href="manage.html" class="manage">網站管理</a>
        </div>
        <div class="guide-container">
            <nav class="nav-header">
                <div class="home" style="border:3px solid #ccc;">
                    <a href="index.html">首頁 | 購物車</a>
                </div>
                <div class="key-word-search">
                    <form method="GET" action="">
                        <input type="search" name="" placeholder="請輸入關鍵字">
                        <button style="background-color:transparent;border:0px"><img src="../assets/img/google-icon/ic_search_white_18dp.png"></button>
                    </form>
                </div>
                <div class="link-icon">
                    <div class="icon-login">
                        <a  href="login.html"><img src="../assets/img/google-icon/ic_account_circle_white_36dp.png"></a>
                    </div>
                    <div class="icon-contact">
                        <a  href=""><img src="../assets/img/google-icon/ic_group_white_36dp.png"></a>
                    </div>
                    <div class="icon-car">
                        <a  href="car.html"><img src="../assets/img/google-icon/ic_shopping_cart_white_36dp.png"></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <div id="loading" style="display: none;">
                <img src="../assets/img/loading.gif">
            </div>
            <!-- 購物車列表 -->
            <div class="car-container">
                <div class="car-title-container">
                    <div class="car-title-checkbox">
                        <input type="checkbox" class="" id="all-check"/>
                    </div>
                    <div class="car-title-item">
                        <span class="">商品</span>
                    </div>
                    <div class="car-title">
                        <span class="">單價</span>
                    </div>
                    <div class="car-title">
                        <span class="">數量</span>
                    </div>
                    <div class="car-title">
                        <span class="">總計</span>
                    </div>
                    <div class="car-title">
                        <span class="">操作</span>
                    </div>
                </div>
                <form action="" method="POST" id="" class="">
                    <!-- 購物車內商品 -->
                    <div class="car-item" name="car-item">
                        <div class="car-item-checkbox">
                            <div class="item-checkbox">
                                <!-- id給商品ID -->
                                <input type="checkbox" name="item-check" id="" />
                            </div>
                            <div class="item-name">
                                <!-- for給checkbox ID -->
                                <label name="item-name" for="">Apple MacBook Ari</label>
                                <!-- <input type="text" name="item-name" value="Apple MacBook Ari" readonly/> -->
                            </div>
                        </div>
                        <div class="car-item-other">
                            <div class="car-item-price">
                                <input type="text" class="item-price" name="item-price" value="38900" readonly/>
                            </div>
                            <div class="car-item-quan">
                                <div class="item-quan">
                                    <input type="number" name="item-quan" value="1" min="1" max="" oninput = "value=value.replace(/[^\d]/g,'')" />
                                </div>
                            </div>
                            <div class="car-item-sum">
                                <span class="item-sum" name="item-sum">38900</span>
                            </div>
                            <div class="car-item-delete">
                                <span class="item-delete" name="item-delete">刪除</span>
                            </div>
                        </div>
                    </div>

                    <div class="car-item" name="car-item">
                        <div class="car-item-checkbox">
                            <div class="item-checkbox">
                                <!-- id給商品ID -->
                                <input type="checkbox" name="item-check" id="" />
                            </div>
                            <div class="item-name">
                                <!-- for給checkbox ID -->
                                <label name="item-name" for="">Apple MacBook Ari</label>
                                <!-- <input type="text" name="item-name" value="Apple MacBook Ari" readonly/> -->
                            </div>
                        </div>
                        <div class="car-item-other">
                            <div class="car-item-price">
                                <input type="text" class="item-price" name="item-price" value="38900" readonly/>
                            </div>
                            <div class="car-item-quan">
                                <div class="item-quan">
                                    <input type="number" name="item-quan" value="1" min="1" max="" oninput = "value=value.replace(/[^\d]/g,'')" />
                                </div>
                            </div>
                            <div class="car-item-sum">
                                <span class="item-sum" name="item-sum">38900</span>
                            </div>
                            <div class="car-item-delete">
                                <span class="item-delete" name="item-delete">刪除</span>
                            </div>
                        </div>
                    </div>

                    
                    

                    
                    <div class="car-pay">
                        <div class="total-container">
                            <span class=""> 總金額: </span>
                            <span class="" id="car-pay-total" style="color: #0096C7;font-weight: bold;"> 0 </span>
                        </div>
                        <div class="car-par-btn">
                            <button type="submit" class="">去買單</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </main>
    <footer class="footer">
        <span class="copyright">&copy;</span>

    </footer>
</body>
</html>