<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <!-- 引入jQuery -->
    <script src="../assets/js/lib/jquery/jquery.min.js"></script>
    <!-- 引入Echarts -->
    <script src="../assets/js/lib/echarts/echarts.min.js"></script>
    <!-- 引入jQuery-Confirm -->
    <script src="../assets/js/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <link rel="stylesheet" href="../assets/js/lib/jquery-confirm/jquery-confirm.min.css" />
    <!-- 引入blockUI -->
    <script src="../assets/js/lib/blockUI/jquery.blockUI.js"></script>
    <!-- 引入css -->
    <link rel="stylesheet" href="../assets/sass/common.css" />
    <link rel="stylesheet" href="../assets/sass/index.css" />
    <!-- 引入自寫js -->
    <script src="../assets/js/loading.js"></script>
    <script src="../assets/js/index.js"></script>
</head>
<body>
    <header>
        <div style="text-align:right;background-color: #0096C7;">
            <a href="manage.html" class="manage">網站管理</a>
        </div>
        <div class="guide-container">
            <nav class="nav-header">
                <div class="home" style="border:3px solid #ccc;">
                    <a href="index.html">首頁</a>
                </div>
                <div class="key-word-search">
                    <form method="GET" action="">
                        <input type="search" name="" placeholder="請輸入關鍵字">
                        <button style="background-color:transparent;border:0px"><img src="../assets/img/google-icon/ic_search_white_18dp.png"></button>
                    </form>
                </div>
                <div class="link-icon">
                    <div class="icon-login">
                        <a  href="login.html"><img src="../assets/img/google-icon/ic_account_circle_white_36dp.png"></a>
                    </div>
                    <div class="icon-contact">
                        <a  href=""><img src="../assets/img/google-icon/ic_group_white_36dp.png"></a>
                    </div>
                    <div class="icon-car">
                        <a  href="car.html"><img src="../assets/img/google-icon/ic_shopping_cart_white_36dp.png"></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="content">
            <div id="loading" style="display: none;">
                <img src="../assets/img/loading.gif">
            </div>
            <!-- 產品 and 篩選 -->
            <div class="product-group">
                <!-- 篩選 -->          
                <div class="product-filter">
                    <form action="" method="GET" id="" name="">
                    <div id="filter-slide" class="" style="text-align:center;">
                        <span class="">篩選</span>
                    </div>
                    <div id="filter" class="filter">

                        <div class="filter-container">
                            <!-- 品牌 -->
                            <div class="filter-type">
                                <span>品牌</span>
                            </div>
                            <div class="filter-item">
                                <!-- checkBox -->
                                <div>
                                    <input type="checkbox" name="" value="APPLE" />
                                    <label>Apple</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="MSI" />
                                    <label>MSI</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="ASUS" />
                                    <label>ASUS</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="ACER" />
                                    <label>ACER</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="HP" />
                                    <label>HP</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-container">
                            <!-- 螢幕尺寸 -->
                            <div class="filter-type">
                                <span>螢幕尺寸</span>
                            </div>
                            <div class="filter-item">
                                <!-- checkBox -->
                                <div>
                                    <input type="checkbox" name="" value="" />
                                    <label>13~15吋</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="" />
                                    <label>15~17吋</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="" />
                                    <label>17吋以上</label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-container">
                            <!-- 使用類型 -->
                            <div class="filter-type">
                                <span>使用類型</span>
                            </div>
                            <div class="filter-item">
                                <!-- checkBox -->
                                <div>
                                    <input type="checkbox" name="" value="電競" />
                                    <label>輕薄便攜</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="商務" />
                                    <label>商務</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="創作設計" />
                                    <label>創作設計</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="" value="輕薄便攜" />
                                    <label>輕薄便攜</label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="filter-container">
                            <!-- 價格範圍 -->
                            <div class="filter-type">
                                <span>價格範圍</span>
                            </div>
                            <div class="filter-item">
                                <!-- text -->
                                <input type="text" id="" name="" class="input" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="$ 最小值">
                                <span>一</span>
                                <input type="text" id="" name="" class="input" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="$ 最大值">
                            </div>
                        </div>
                        <button class="btn-filter" id="btn-filter">查詢</button>
                        </form>
                    </div>
                </div>
                <!-- 產品列表 -->
                <div class="product-list">
                    <div class="product">
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ASUS/ASUS X515_1.png" />
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ASUS X515
                                </div>
                                <div class="pro-price">
                                    $17900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ASUS/ASUS Zenbook 14 Flip OLED_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ASUS Zenbook 14 Flip OLED
                                </div>  
                                <div class="pro-price">
                                    $40900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ASUS/ASUS TUF Gaming F15_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ASUS TUF Gaming F15
                                </div>  
                                <div class="pro-price">
                                    $33500
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ASUS/ASUS ZenBook 13 OLED_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ASUS ZenBook 13 OLED
                                </div>  
                                <div class="pro-price">
                                    $34900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ASUS/ASUS E410_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ASUS E410
                                </div> 
                                <div class="pro-price">
                                    $9488
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/APPLE/APPLE MacBook Air_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    APPLE MacBook Air
                                </div>  
                                <div  class="pro-price">
                                    $38900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/APPLE/APPLE MacBook Pro_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    APPLE MacBook Pro_15
                                </div>  
                                <div  class="pro-price">
                                    $104900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ACER/ACER Nitro5 AN515-58-77 MX_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ACER Nitro5 AN515-58-77 MX
                                </div>  
                                <div class="pro-price">
                                    $39500
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ACER/ACER Swift5 SF514-55TA-5884_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ACER Swift5
                                </div> 
                                <div  class="pro-price">
                                    $29900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ACER/ACER Aspire5 A514-54G-58HW_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ACER Aspire5 A514-54G-58HW
                                </div>  
                                <div class="pro-price">
                                    $21900
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/ACER/ACER TravelMate P214-53-78QY_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    ACER TravelMate P214-53-78QY
                                </div>  
                                <div class="pro-price">
                                    $31900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/MSI/MSI Stealth 15M_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    MSI Stealth 15M
                                </div>  
                                <div class="pro-price">
                                     $47900 
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/MSI/MSI Modern14-B5M_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext" >
                                    MSI Modern14-B5M
                                </div> 
                                <div class="pro-price">
                                    $23900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/MSI/MSI Alpha 15_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    MSI Alpha 15
                                </div>  
                                <div class="pro-price">
                                    $34900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/MSI/MSI  Prestige 14 i7-10710u_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    MSI  Prestige 14 i7-10710u
                                </div>
                                <div class="pro-price">
                                    $30900
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="list">
                            <div class="pro-img">
                                <img class="listimg" src="../assets/img/pro/MSI/MSI Summit E16 Flip_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    MSI Summit E16 Flip
                                </div>  
                                <div class="pro-price">
                                    $55900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/HP/HP Elite Dragonfly G2_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    HP Elite Dragonfly G2
                                </div> 
                                <div class="pro-price">
                                    $59900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/HP/HP 470 G8_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    HP 470 G8
                                </div>  
                                <div class="pro-price">
                                    $29999
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/HP/HP 14s-dq4001TU_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">
                                    HP 14s-dq4001TU
                                </div>  
                                <div class="pro-price">
                                    $31900
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="pro-img">
                                <img  class="listimg" src="../assets/img/pro/HP/HP OMEN 16-C0668AX_1.png"/>
                            </div>
                            <div class="pro-content">
                                <div class="protext">      
                                    HP OMEN 16-C0668AX
                                </div>  
                                <div class="pro-price">
                                    $48900
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
            <span class="copyright">&copy;</span>

    </footer>
</body>
</html>